.main {
    margin: 64px 5px 64px 5px;
}

.images {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

    grid-row-gap: 3px;
    -webkit-column-gap: 3px; /* Chrome, Safari, Opera */
    -moz-column-gap: 3px; /* Firefox */
    column-gap: 3px;

    margin-bottom: 5px;
}

img {
    display: block;
    box-shadow: -1px 0px 0px rgba(0, 0, 0, 0.5);
    width: 100%;
}

.content {
    font-size: 2rem;
    text-align: center;
    background: #FFF;
    border: 1rem solid #000;;
}

