.main {
    margin: 64px 5px 64px 5px;
}

.images {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-row-gap: 3px;
    -webkit-column-gap: 3px; /* Chrome, Safari, Opera */
    -moz-column-gap: 3px; /* Firefox */
    column-gap: 3px;

    margin-bottom: 5px;
    grid-auto-flow: dense;
}

img {
    display: block;
    box-shadow: -1px 0px 0px rgba(0, 0, 0, 0.5);
    width: 100%;
}

.box1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

.box2 {
  grid-column-end: span 2;
  grid-row-end: span 2;
}

.content {
    
    font-size: 2rem;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    
    align-items: flex-start
}

.content article {
    background: #FDE3A1;
    border: 1rem solid #000;
    margin: 2rem;
    flex-shrink: 1;
    border-radius: 1rem;
    
}

@media (max-width: 768px){
    .content {
        flex-direction: column;
    }
}

@media (min-width: 1250px){
    .content {
        padding: 6rem;
    }
    .content article {
        
        transform: rotate(20deg);
    }
}

